.bg {
	background-image: url('../../static/images/home.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: white;
}

.jumbotron {
	height: 100vh;
	margin-bottom: 0px;
}

.jumb-text {
	background-color: rgba(0, 0, 0, 0.6);
}

#admin-sidebar {
	height: 100vh;
	margin-bottom: 0px;
	width: 300px;
}


.sidebar-item a:hover {
	color: #007DDD !important;
	cursor: pointer;
}

.container-wrapper {
	height: 80%;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 300px;
}

.category-main {
	margin-top: 25px;
	margin-left: 250px;
}

.cons-main {
	margin-top: 25px;
	margin-left: 25px;
}

.product-main{
	margin-top: 25px;
	margin-left: 25px;
}

.account-container{
	margin-top: 25px;
	margin-left: 25px;
}

.change-container{
	margin-top: 25px;
	margin-left: 25px;
}